$size:20px;
@mixin change{
color:blue;
height:60px; 
}

body {
	background-color:red;
}

.first_class {
.second_class{

	 h1{
	 @include change
	 }
	 p {
	@include change;
	width:$size * 3;
}
	 }
	 > h1 {
	 @include change;
	 width:$size;
	 }
}